@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  margin: 0;
  background: #fff9fb;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

* {
  box-sizing: border-box;
}
